

*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

:root {
  
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: 'roboto';

}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;

}

.header{
  background-color: #fff;
  padding: 1rem 4rem;
  display: grid;
  gap: 1rem;
  position:relative;
  box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

.header-item1 {
display: grid;
grid-template-columns: 3fr 2fr;
gap: 2rem;

}

.search-bar {
display: grid;
grid-template-columns: auto 1fr;
gap: 1em;
align-items: center;
}
.search-bar i {
font-size: 2rem;
}

.search-bar input{
padding: 0.5rem 15em;
border-radius: 10px;
border: none;
background-color:rgba(226, 232, 240, 255);
}

.notification{
display: grid;
grid-template-columns: auto auto 1fr;
gap: 2em;
align-items: center;
justify-self: end;

}
.notification i {
font-size: 2rem;
}
.notification img{
height: 5rem;
width: 5rem;
border-radius: 50%;
}
.notification p {
font-size: 1.5rem;
font-weight: bold;
}

.header-item2 {
display: grid;
grid-template-columns: 3fr 2fr;
gap: 2rem;

}

.profile{
display: grid;
grid-template-columns: auto 1fr;
align-items: center;
gap: 2rem;
}
.profile img{
width: 8rem;
height: 8rem;
border-radius: 50%;
}
.profile-text p{
font-size: 1.5rem;
font-weight: bold;
}
.profile h3 {
font-size: 2rem;
}

.post{
display: grid;
grid-template-columns: auto auto 1fr;
gap: 2em;
align-items: center;
justify-self: end;
}

.post button {
padding: .5rem 4rem;
font-size: 1.5rem;
border: none;
cursor: pointer;
background-color:  #1992D4;
color: #fff;
border-radius: 1.5rem;
}


.sidebar{
  background-color: #1992D4;
  grid-row: 1 / 3;
  padding: 1rem;
  
}

nav{
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 3rem;

}

.menu a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.menu a i{
  font-size: 4rem;
  color: #fff;
  
}

.menu a span {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
}

.menu-general, .menu-settings {
  display: grid;

}
.menu-general a, .menu-settings a {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
  text-decoration: none;
  margin-left: 1rem;
  padding: 5px 0;
}
.menu-general a i, .menu-settings a i {
  font-size: 2rem;
  color: #fff;
}

.menu-general a span, .menu-settings a span{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
}

.content{
  background-color: rgba(226, 232, 240, 255);
  padding: 2rem 1.5rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 2rem;
  
}
.content-left > h3, .content-right > div > h3{
font-size: 2rem;
}

.cards{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
gap: 1.5rem;

}

.card-item{
background-color: #fff;
border-left: 5px solid #1992d4a8;
border-radius: 5px;
padding: 1.5rem 1rem ;
display: grid;
grid-template-rows: auto auto 1fr;
gap: 2rem;

}

.title{
font-size: 1.8rem;
}
.quote{
font-size: 1.6rem;
}

.share-icon{
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  justify-self: end;
  align-self: end;
  cursor: pointer;
  
}

.content-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.card-small{
  background-color: #fff;
  padding: 2rem 1.5rem;
  border-radius: 5px;
  
 
}

.maintenance h3, .community h3,.privacy h3 {
  font-size: 1.4rem;
}
.maintenance p, .community p, .privacy p  {
  font-size: 1rem;
  text-align: justify;
}

.maintenance, .community{
  padding-bottom: 1rem;
  border-bottom: 1px solid #d9d0d0;
} 

.community, .privacy {
  margin-top: 1rem;
}

.trending-profile{
  padding: .6rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2rem;
}
.trending-profile img {
width: 4rem;
height: 4rem;
border-radius: 50%;
}
.trending-profile-text h3{
  font-size: 1.2rem;
}

.trending-profile-text p {
  font-size: 1rem;
  margin-top: 2px;
}